$black: #232323;
$background: #ffdf8c;
$card: hwb(164 87% 7% / 0.931);
$gray-line: hsla(0, 0%, 96%, 0.73);
$orange: hsl(17, 87%, 67%);
$white: #ffff;
$blue: #006c79;

$container-width: 100%;

$duration: 0.15s;
